<header>
    <img 
        src="assets/img/foto_eder.jpg" 
        alt="Henrique Eder - Foto Perfil"
        width="130px"
        height="130px"
        loading="eager"
    />
        
    <h1> Henrique Eder</h1>
</header>

<aside>
    <div class="container">
        <p>Full-Stack Javascript | Angular | java | ORACLE | SQLSERVER | MONGODB</p>
        <p>Guarulhos, São Paulo, Brasil</p>
        <p>
          Estou na área de desenvolvimento de software mais de 10 anos. Devido isso
          resolvi abraçar a stack JS pois atua no Frontend / Backend.
        </p>

        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/CV-HenriqueEderSilva.pdf" target="_blank" class="btn btn-primary">
                        Download Cv
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/henrique-eder-a5027b80/" target="_blank" class="btn btn-secondary">
                        LinkedIn
                    </a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img src="assets/icons/whatsapp.svg" alt="Ícone para contato do whatsapp"                
                    width="22px"
                    height="24px" 
                />

                <figcaption>
                    <a href="https://api.whatsapp.com/send?phone=5511952823492&text=Contato"
                    target="_blank">
                    <strong>Envie uma mensagem para: </strong>
                    <p>Whatsapp: (11) 9 5282-3492</p>
                </a>
                </figcaption>
            </figure>
            <figure>
                <img src="assets/icons/mail.svg" alt="Ícone para contato do e-mail"                
                    width="22px"
                    height="24px" 
                />

                <figcaption>
                    <a href="mailto:henri.eder@outlook.com"
                    target="_blank">
                    <strong>Envie e-mail para: </strong>
                    <p>E-mail: henri.eder&#64;outlook.com</p>
                </a>
                </figcaption>
            </figure>
        </section>
    </div>
</aside>